<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="loginForm"
    (ngSubmit)="onLogon()"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="E-mail"
        formControlName="email"
      >
      <mat-hint>Insira aqui o seu e-mail.</mat-hint>
      <mat-error>E-mail inválido ou por preencher.</mat-error> <!-- if hint and error are present, error will override hint -->
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Senha"
        formControlName="password"
      >
      <mat-hint>Insira aqui a sua senha.</mat-hint>
      <mat-error>Senha por preencher.</mat-error> <!-- if hint and error are present, error will override hint -->
    </mat-form-field>
    <button *ngIf=" ! (uiService.loadingStateChanged | async)" mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Entrar</button>
    <mat-spinner *ngIf="uiService.loadingStateChanged | async"></mat-spinner>
  </form>

  <button type="button" [appExport]="articles" fileName="customers" class="btn btn-danger">
    Export
  </button>
</section>
