<section class="new-training" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="400px" fxFlex.xs="100%">
    <mat-card-title fxLayoutAlign="center">Hora de começar um novo treino!</mat-card-title>
    <!-- fxLayoutAlign implicity includes fxLayout="row" -->
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option value="abdominais">
            Abdominais
          </mat-option>
          <mat-option value="alongamentos">
            Alongamentos
          </mat-option>
          <mat-option value="flexoes">
            Flexões
          </mat-option>
        </mat-select>
      </mat-form-field>    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-button>Começar</button>
    </mat-card-actions>
  </mat-card>
</section>
