#container {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: row; /* default is row; "flex-direction: column" main-axis is top to bottom */
  height: 100%; /* without this, "flex: n" won't work when "flex-direction: column" */
  justify-content: flex-start;
  width: 100%;
}

.child {
  height: 200px;
  width: 200px;
  /*flex: 1;*/
}

#child1 {
  background-color: red;
  /*flex: 2;*/
}

#child2 {
  background-color: green;
}

#child3 {
  background-color: blue;
}
