<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <p>Eu sou a barra lateral!</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div><button (click)="sidenav.toggle()">Alterna navegação lateral</button></div>
      <div>LOGO</div>
      <div>
        <a routerLink="/login">Entrar</a>
        <a routerLink="/trainning">Treinar</a>
        <a routerLink="/signup">Cadastrar</a>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

